.project-image {
    width: 200px !important; 
    height: 175px !important;
    text-align: center;
    border-radius: 0%; 
    margin: 5px;
}

#project-card {
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}