img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* padding: 5px; */
    text-align: center;
}

.jumbotron {
    text-align: center;
    /* height: auto; */
    background-color: #375a7f;
}

h1 {
    font-style: italic;
}

p {
    font-size: medium;
}